/* AdminDashboard.css */
.admin-dashboard {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .header h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .user-section,
  .vendor-requests {
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .user-list, .request-list {
    padding: 0;
  }
  
  .user-item, .request-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
  }
  
  .user-item:hover, .request-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  button {
    cursor: pointer;
    font-size: 14px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .btn-change-role {
    background-color: #007bff;
    color: white;
  }
  .role-selector {
    margin-left: 10px;
  }
  
  .role-selector select {
    padding: 5px;
    border-radius: 4px;
  }
  
  .btn-change-role:hover {
    background-color: #0056b3;
  }
  
  .btn-approve-vendor {
    background-color: #28a745;
    color: white;
  }
  
  .btn-approve-vendor:hover {
    background-color: #218838;
  }
  