/* Navbar Styles */
.navbar {
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: background-color 0.3s ease;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .navbar.dark {
    background-color: #1e1e2f;
  }
  
  .site-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4f46e5;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    flex-wrap: wrap;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .login-button,
  .dark-toggle {
    padding: 0.5rem 1rem;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
  }
  
  .search-bar {
    padding: 0.4rem;
    border-radius: 0.375rem;
    border: 1px solid #ccc;
    width: 30rem;
  }
  
  .profile-menu {
    position: relative;
  }
  
  .profile-icon,
  .nav-icon {
    width: 2.5rem;
    height: 2.2rem;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-menu a {
    padding: 0.4rem;
    text-decoration: none;
    color: #333;
    font-size: 0.95rem;
  }
  
  body.light-mode {
    background-color: #f9f9f9;
    color: #222;
  }
  
  body.dark-mode {
    background-color: #121212;
    color: #f9f9f9;
  }
  
  .dark-toggle {
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: #6366f1;
  }
  
  /* Dark Mode Styles for Navbar */
  .navbar.dark .site-title {
    color: #f9f9f9;
  }
  
  .navbar.dark .nav-links a {
    color: #ccc;
  }
  
  .navbar.dark .nav-links a:hover {
    color: #fff;
  }
  
  .navbar.dark .login-button,
  .navbar.dark .dark-toggle {
    background-color: #6366f1;
  }
  
  .navbar.dark .login-button:hover,
  .navbar.dark .dark-toggle:hover {
    background-color: #4f46e5;
  }
  